.comment-form__button {
    padding: 3px;
    color: white;
    
}
.comment-form__button:hover {
    background-color: rgb(80, 74, 238);
}
.wrapper2 {
    display: flex;
    flex-direction: column;
}

.input-div {
    display: flex;
   
}
.x-button{
    color: rgb(144, 139, 139);
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgb(80, 74, 238);
    box-shadow: 0 1px 1px rgb(80, 74, 238) inset, 0 0 8px rgb(80, 74, 238);
    outline: 0 none;
}