.comment-form__button {
    background-color: rgb(80, 74, 238);
    
}

.comment-form {
    background-color: rgb(184, 184, 184);
    
}
.wrapper2 {
    display: flex;
    flex-direction: column;
}

.input-div {
    display: flex;
    border: 5px grey solid;
}