.outside {
    display: flex;
    justify-content: center;
}
.yug{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    /* font-size: 30px; */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    width: auto;
    height: 40vh;
    box-sizing: border-box;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:rgb(231, 229, 229);


 
}
.card2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid;
    /* box-shadow: 1px 1px 1px 1px #ccc; */
    border-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.p {
    display: flex;
    align-self: center;
}
.journal-title {
    display: flex;
    justify-content: center;
}
.card_info {
    margin: 5px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: black;
}
.card_info2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-tag{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
}
.btn-holder {
    display: flex;
    justify-content: center;
    align-content: center;
}
/* 
.button {
    display: flex;
    background-color: rgb(100,107,238);
    color: white;
    
    
} */
/* .button:hover {
    display: flex;
    background-color: #8b5cf6;
    
} */
.button_div {
    display: flex;
    justify-content: center;
}
.journal_submit_button {
    border: none;
    padding: 0.75rem;
    border-radius: 12px;
    /* font-family: "Poppins", sans-serif; */
    width: 15vh;
   
    margin: 3%;
    background-color: rgb(100,107,238);
    color: white;
    display: flex;
    justify-content: space-around;
  
  }

  