.wrapper {
    display: flex;
    flex-direction: column;
    /* border-left: rgb(173, 173, 173) solid 1px; */
    /* border-right: rgb(173, 173, 173) solid 1px; */
    margin-top: 50px;
    margin-bottom: 50px;
    
    width: 100%;
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    /* border-left: rgb(173, 173, 173) solid 1px; */
    /* border-right: rgb(173, 173, 173) solid 1px; */
    margin-top: 50px;
    margin-bottom: 50px;
    
    width: 50%;
}
.username_div {
    color: white;
}

.comment{
    display: flex;
    flex-wrap: wrap;
}

.commentForm {
    width: 100%;
    display: flex;
}
.icon-comment-holder {
    display: flex;
}
.message-icon {
    display: flex;
    align-items: flex-start;
}
.comments-div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.show-comment-button {
    color: rgb(177, 177, 177);
}

