 .splash_item1 {
    border: 5px solid black;
    margin: 10px;
    width: 600px; 
    
    height: 300px;
   /* background-color: coral; */
   background-image: url(https://images.unsplash.com/photo-1530821804277-78d8cd4f23da?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80);
   background-size: 600px;
   border-radius: 12px;
   
}
.splash_item2 {
    border: 5px solid black;
    margin: 10px;
    width: 600px; 
    
    height: 300px;
   background-color: coral;
   border-radius: 12px;
   
}
.splash_item3 {
    border: 5px solid black;
    margin: 10px;
    width: 600px; 
    
    height: 300px;
   background-color: coral;
   border-radius: 12px;
   
}

.splash_wrapper {
    width: 50%;
    align-content: center;
    justify-content: center;
}

.god {
    display: flex;
    justify-content: center;
    align-content: center;
    
    
} 